services:
  zammad:
    image: zammad/zammad:latest
    restart: always
    ports:
      - "80:8080"
    environment:
      - ZAMMAD_RAILS_PORT=8080
    volumes:
      - zammad-data:/opt/zammad
    depends_on:
      - postgres
      - elasticsearch

  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=zammad
      - POSTGRES_PASSWORD=zammadChangeMeNow
      - POSTGRES_DB=zammad_production
    volumes:
      - postgres-data:/var/lib/postgresql/data

  elasticsearch:
    image: elasticsearch:8.11.3
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - es-data:/usr/share/elasticsearch/data

volumes:
  zammad-data:
  postgres-data:
  es-data:
